//Typography
$body-font: "Roboto", sans-serif;
$heading-font: "Poppins", sans-serif;
$franklin: "Libre Franklin", sans-serif;
$bree: "Bree Serif", serif;

// color
$white: #fff;
$black: #000;
$text: #4e4e4e;
$text-gray: #545d61;
$heading-text: #263238;
$border: #e0e0e0;
$bg-lighter: #f5f5f5;

// $bg-lighter: #f7f8fa;

$primary: #ff8c92;
$secondary: #f2f2f2;

// Brand Color
$fb: #ff8c92;
$tw: #ff8c92;
$ins: #ff8c92;
$in: #ff8c92;
$be: #ff8c92;
$dbl: #ff8c92;
