.header-bg {
  background: linear-gradient(to right, #ffcffd80, #dbf8ff);
}
.dev-menu {
  display: none;
  position: absolute;
  width: 290px;
  top: 100%;
  right: 0;
  background: #374a5e;
  z-index: 1000;
  @include md-screen {
    width: 590px;
  }
  @include lg-screen {
    display: flex !important;
    justify-content: center;
    position: relative;
    width: 290px;
    top: auto;
    right: auto;
    width: auto;
    background: transparent;
  }
  &-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__list {
    border-bottom: 1px solid transparent;
    text-align: center;
    transition: all 0.3s ease;
  }
  &__link {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;

    @include lg-screen {
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 14px;
      color: #374a5e;
      text-transform: capitalize;
      background: transparent;
    }
  }
  &__has-sub {
    position: relative;
    &:hover {
      .dev-menu__sub {
        height: auto;
        transition: all 0.2s ease;
        opacity: 1;
        visibility: visible;
        z-index: 9998;
      }
    }
  }
  &__sub {
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: all 0.1s ease;
    z-index: -9998;
    @include lg-screen {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      background: #374a5e;
      width: 200px;
    }
    &-link {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      background: rgba(255, 255, 255, 0.1);
      text-transform: capitalize;
      color: #fff;
      &:hover {
        background: #3c4cc6;
      }
    }
  }
  &-close {
    display: none;
    &.active {
      display: block;
    }
  }
  &__img {
    display: none;
    position: relative;

    @include lg-screen {
      display: block;
    }
    &-pattern {
      display: none;

      @include lg-screen {
        display: block;
        position: absolute;
        bottom: 50px;
        right: 0;
      }
    }
  }
}
.content-area {
  position: relative;
  &__pattern-2 {
    position: absolute;
    bottom: -40%;
    left: -15%;
    z-index: -999;
  }
}

.logo {
  padding: 20px 0;
}
.title {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: capitalize;
  @include md-screen {
    font-size: 40px;
  }
  @include lg-screen {
    font-size: 50px;
  }
  @include xl-screen {
    font-size: 60px;
  }
  &__name {
    color: $primary;
  }
}
