.information {
  background-color: #263238;
  border-radius: 15px;
  padding: 30px 0;
  @include md-screen {
    padding: 50px 0;
  }
  @include lg-screen {
    padding: 80px 0;
  }
}
.contact-list {
  padding-top: 30px;
  p {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
  }
}
.skill {
  width: 100%;
  background-image: url(/assets/img/Skill.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  background-position: center;
}
